@mixin mainColors($fontSize) {
    background-color: black;
    color: white;
    font-size: $fontSize;
}

// Variables
// @import "./_variables.sass";
@use "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
    // background: $headerBgColor;
    // color: $mainTextColor;
    @include mainColors(18px);
    padding: 10px;

    h1 {
        color: white;
        text-align: center;
    }

    &:hover {
        background-color: $headerBgColorHover;
    }

    /* &::after {
        content: "Demo";
    } */
}

main {
    width: 600px + 300px;
    margin: auto;
    font-size: 16px;
    // background-color: $mainBgColor;
    // color: $mainTextColor;
    @include mainColors(20px);

    p {
        padding: 2px + 16px;
        margin-top: 15px;
    }

    &:hover {
        background-color: $mainBgColorHover;
    }
}
    